<style>
  body{
   background: #1782ed;

  }



h1{
color: white;
text-align: center;
font-size: 100px;
font-family:'Fredoka One', cursive;
}

.container{
margin-top:100px;

}
#boton{

margin:auto;

}
</style>

<div class="container">
  <h1><img src="https://image.flaticon.com/icons/svg/194/194177.svg"width="200" height="200"> Bienvenido a Facedog <%= link_to "Log in!", login_path, class: "btn btn-dark btn-lg" ,id:'boton'%></h1>

</div>
